@*@model AppUser*@

@model Facebook_project.Models.AppUser;
@using Microsoft.AspNetCore.Identity




    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-brand" id="navbarbrand" href="#">
                <form class="navbar-form form-inline">
                    <div class="form-group">
                        <button id="addDoku" type="button" class="btn btn-default " data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span></button>
                        <input type="text" name="search" onkeyup="searchFunction1()" id="search" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav navbar-right">
                    <li style="text-align:center">
                        <a href="/Users/UserPage/@Model.Id">
                            <img src="/ProfilPics/@Model.PhotoURL" class="img-fluid userpic">
                        </a>

                        @*<button href="/Users/UserPage/@Model.Id" style="font-weight:bold;outline:none;" class="nav-link btn btn-link">
                            <img src="/ProfilPics/@Model.PhotoURL" class="img-fluid searchResult">
                        </button>*@

                    </li>

                    <li>
                        <a href="/Users/UserPage/@Model.Id" style="font-weight: bold;" class="nav-link btn btn-link">
                            @Model.FullName.Split(" ")[0]
                        </a>

                        @*<button href="/Users/UserPage/@Model.Id" style="font-weight:bold;outline:none;" class="nav-link btn btn-link">
                            @Model.FullName.Split(" ")[0]
                        </button>*@

                    </li>

                    <li>
                        <a style="font-weight:bold;" asp-action="index" asp-controller="Home" class="nav-link btn btn-link">Home</a>
                    
                    @*<button asp-action="index" asp-controller="Home" style="font-weight:bold;outline:none;" class="nav-link btn btn-link">Home</button>*@
                    </li>

                    <li style="margin-top:10px; text-align:center">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" style="font-weight:bold;outline:none;" class="nav-link btn btn-link">Settings</button>
                        </form>
                    </li>

                    <li style="margin-top:10px; text-align:center">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" style="font-weight:bold;outline:none;" class="nav-link btn btn-link">Logout</button>
                        </form>
                    </li>

                    <li style="text-align:center">
                        <i class="btn fas fa-user-friends fa-lg" style="margin-top:16px;" onclick="FriendRequestsModal()"></i>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div>






    

<script>

    function FriendRequestsModal() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("FriendRequestsModal","Friends")',//"Friends/FriendRequestsModal/",
            success: function (response) {
                $("#FriendRequestsDiv").html(response);
                $("#FriendRequestsPopupContainer").modal("toggle");
            },
            error: function () {
                alert("Error retreiving Users");
            }
        });
    }

</script>





