@model Comment
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@{

    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    if (!Model.isRemoved)
    {
        string CommentID = $"comment*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";

        <li id="@CommentID" class="comment">
            <div class="media">

                <div class="container">

                    <div class="row">
                        <div class="col-md-10">
                            <div class="media">
                                <div class="media-left">
                                    <a asp-controller="Users" asp-action="UserPage" asp-route-id="@Model.UserID">
                                        <img class="media-object photo-profile rounded-circle"
                                             src="~/ProfilPics/@Model.User.PhotoURL"
                                             width="32" height="32" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a id="publisherNameLabel" asp-controller="Users" asp-action="UserPage" asp-route-id="@Model.User.Id">
                                        <h4 class="media-heading">@Model.User.FullName</h4>
                                    </a>
                                    <p class="anchor-time">@Model.Time</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @if (userId == Model.UserID)
                            {
                                <p class="col-form-label text-center">
                                    <i class="fa fa-trash ml-2" onclick="ConfirmDeleteModal('@CommentID')"></i>
                                    <i class="fa fa-edit ml-2" onclick="EditCommentModal('@CommentID')"></i>
                                </p>
                            }
                        </div>

                        <section class="post-body">
                            @{
                                string CommentTextDiv = $"CommentTextDiv*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";
                                <div id="@CommentTextDiv" class="col-12">
                                    @if (Model.Text != null && Model.Text != "")
                                    {
                                        <p class="col-form-label">@Model.Text</p>
                                    }
                                </div>
                            }
                            @{
                                string CommentImgDiv = $"CommentImgDiv*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";

                                <div id="@CommentImgDiv" class="col-12">
                                    @if (Model.PictureURL != null && Model.PictureURL != "")
                                    {
                                        <img class="img-fluid img-thumbnail" src="~/CommentsPics/@Model.PictureURL" />
                                    }
                                </div>

                            }
                        </section>

                    </div>
                </div>
            </div>
        </li>


    }
}
