@model Comment

@{
    if (!Model.isRemoved)
    {
        string CommentID = $"comment*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";
        <div id="@CommentID" class="border mt-2">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <p class="col-form-label">
                        <img src="~/ProfilPics/@Model.User.PhotoURL" class="navbar-toggler-icon" />
                        <a href="#">@Model.User.FullName</a>
                    </p>
                    <div>
                        @{
                            string CommentTextDiv = $"CommentTextDiv*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";
                            <div id="@CommentTextDiv" class="col-12">
                                @if (Model.Text != null && Model.Text != "")
                                {
                                    <p class="col-form-label">@Model.Text</p>
                                }
                            </div>
                        }


                        @{
                            string CommentImgDiv = $"CommentImgDiv*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";

                            <div id="@CommentImgDiv" class="col-12">
                                @if (Model.PictureURL != null && Model.PictureURL != "")
                                {
                                    <img class="img-fluid" src="~/CommentsPics/@Model.PictureURL" />
                                }
                            </div>

                        }


                    </div>
                </div>
                <div class="col-4">
                    <p class="col-form-label text-center">
                        @Model.Time
                        <i class="fas fa-trash-alt ml-2" onclick="ConfirmDeleteModal('@CommentID')"></i>
                        <i class="fas fa-edit ml-2" onclick="EditCommentModal('@CommentID')"></i>
                    </p>
                </div>
            </div>
        </div>

    }
}