@model Comment
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@{

    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    if (!Model.isRemoved)
    {
        string CommentID = $"comment*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";

        <li id="@CommentID" class="comment">
            <div class="media">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-header">
                                <div class="Comment-left-section">
                                    <div class="media-left">
                                        <a asp-controller="Users" asp-action="UserPage" asp-route-id="@Model.UserID">
                                            <img class="media-object photo-profile rounded-circle"
                                                 src="~/ProfilPics/@Model.User.PhotoURL"
                                                 width="32" height="32" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a id="publisherNameLabel" asp-controller="Users" asp-action="UserPage" asp-route-id="@Model.User.Id">
                                            <h4 class="media-heading">@Model.User.FullName</h4>
                                        </a>
                                        <p class="anchor-time">@Model.Time</p>
                                    </div>
                                </div>
                                <div class="Comment-right-section">
                                    @if (userId == Model.UserID)
                                    {
                                        <i class="fa fa-trash ml-2 fa-lg" onclick="ConfirmDeleteModal('@CommentID')"></i>
                                        <i class="fa fa-edit ml-2 fa-lg" onclick="EditCommentModal('@CommentID')"></i>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-1"></div>
                        <div class="col-xs-8">
                            <section class="comment-body">
                                @{
                                    string CommentTextDiv = $"CommentTextDiv*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";
                                    <div id="@CommentTextDiv" class="col-12">
                                        @if (Model.Text != null && Model.Text != "")
                                        {
                                            <p class="col-form-label">@Model.Text</p>
                                        }
                                    </div>
                                }
                                @{
                                    string CommentImgDiv = $"CommentImgDiv*{Model.PostID}*{Model.UserID}*{Model.Time.ToString().Replace(" ", "")}";

                                    <div id="@CommentImgDiv" class="col-12">
                                        @if (Model.PictureURL != null && Model.PictureURL != "")
                                        {
                                            <img class="img-fluid img-thumbnail" src="~/CommentsPics/@Model.PictureURL" />
                                        }
                                    </div>

                                }
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </li>


    }
}
