@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;

@model Facebook_project.Models.Comment
@{
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div id="EditCommentPopupContainer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>

                <h2>Edit Comment</h2>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-4">
                            
                            <form method="post" enctype="multipart/form-data">
                                <div class="text-danger"></div>

                                <div class="form-group">
                                    <label class="control-label">New Post</label>
                                    <textarea asp-for="@Model.Text" id="EditCommentText"></textarea>
                                </div>

                                <div class="col-12">
                                    @{
                                        if (Model.PictureURL != null)
                                        {
                                            <img id="EditCommentImg" class="img-fluid img-thumbnail" src="~/CommentsPics/@Model.PictureURL" />
                                        }
                                        else
                                        {
                                            <img id="EditCommentImg" class="img-fluid img-thumbnail" src="" />
                                        }
                                    }
                                </div>

                                <div id="commentImgSelectorDiv" class="form-group">
                                    <input type="file" name="file" id="commentImgSelector" style="width: 100%;" onchange="readURL(this,'#EditCommentImg')" />
                                </div>

                                <div class="form-group">
                                    <input type="button" value="Edit" data-dismiss="modal" class="btn btn-primary" onclick="EditComment('@Model.PostID','@Model.UserID','@Model.Time.ToString()')" />
                                </div>

                                <div class="form-group">
                                    <i class="fas fa-backspace" onclick="ResetFile('commentImgSelector','commentImgSelectorDiv','EditCommentImg')"></i>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Back to List", "Index","Home")
                    </div>

                </div>

                <div class="modal-footer"></div>


            </div>
        </div>
    </div>



}

<script>

    function readURL(input, selector) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(selector).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function ResetFile(selector, div, img) {
        document.querySelector('#' + selector).remove();
        document.querySelector('#' + div).innerHTML += '<input type="file" name="file" id="' + selector + '" style="width: 100%;" onchange="readURL(this)" />';
        document.querySelector('#' + img).src = "";
    }

</script>