@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@*@inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager*@

@model IEnumerable<Facebook_project.Models.AppUser>
@{
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div id="FriendsPopupContainer" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>

                <h2>My Friends</h2>
                <div class="modal-body">



                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-group">

                                    @foreach (var item in Model)
                                    {
                                        string LiId = "Item" + item.Id;
                                        <li id="@LiId" class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="ModalList">
                                                <div class="col-8" style="padding:10px">
                                                    <a href="/Users/UserPage/@item.Id">
                                                        <img src="/ProfilPics/@item.PhotoURL" class="img-fluid searchResult">
                                                    </a>
                                                    <a href="/Users/UserPage/@item.Id">@item.FullName</a>
                                                </div>
                                                <div>
                                                    <input type="button" class="btn btn-danger Reject" value="Remove" onclick="RemoveFriend('@item.Id')" />

                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>


                    @*<div class="row">
            <div class="col-10">

                @foreach (var item in Model)
                {
                    string RequestId = $"request{item.Id}";

                    <div id="@RequestId">
                        <img src="~/ProfilPics/@item.PhotoURL" class="img-fluid searchResult" />
                        <a href="/Users/UserPage/@item.Id">@item.FullName</a>
                        <input type="button" class="btn btn-danger Reject" value="Remove" onclick="FriendRequest(this,'@item.Id')" />
                    </div>
                }
            </div>
        </div>*@

                    <div>
                        @Html.ActionLink("Back to List", "Index", "Home")
                    </div>

                </div>

                <div class="modal-footer"></div>


            </div>
        </div>
    </div>



}

<script>

    function RemoveFriend(UserId) {

        var RID = '#Item' + UserId;
        var UserElement = document.querySelector(RID);

        alert(UserElement.innerHTML);

        //var userid = document.querySelector('#UserId').value;
            var concat = `${UserId}*${3}`;
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangeRelationStatus","Users")/' + concat,
                success: function () {
                        
                    UserElement.remove();
                },
                error: function () {
                    alert("Error");
                }
            });
    }

</script>
