@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@*@inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager*@

@model IEnumerable<Facebook_project.Models.AppUser>
@{
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div id="FriendRequestsPopupContainer" class="modal fade LikesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>

                <h2>Friend Requests</h2>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-10">

                            @foreach (var item in Model)
                            {
                                string RequestId = $"request{item.Id}";

                                <div id="@RequestId">
                                    <img src="~/ProfilPics/@item.PhotoURL" class="navbar-toggler-icon" />
                                    <a href="#">@item.FullName</a>
                                    <input type="button" class="btn btn-primary Accept" value="Accept" onclick="FriendRequest(this,'@item.Id')" />
                                    <input type="button" class="btn btn-danger Reject" value="Reject" onclick="FriendRequest(this,'@item.Id')" />
                                </div>
                            }
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Back to List", "Index", "Home")
                    </div>

                </div>

                <div class="modal-footer"></div>


            </div>
        </div>
    </div>



}

<script>

    function FriendRequest(caller, ReqUserId) {
        var RID = '#request' + ReqUserId;
        var RequestElement = document.querySelector(RID);
        if (caller.classList.contains("Accept")) {
            $.ajax({
                type: "POST",
                url: "Friends/AcceptRequest/" + ReqUserId,
                success: function () {
                    RequestElement.remove();
                },
                error: function () {
                    alert("Error while liking post");
                }
            });
        }
        else if (caller.classList.contains("Reject")) {

            $.ajax({
                type: "POST",
                url: "Friends/RejectRequest/" + ReqUserId,
                success: function () {
                    RequestElement.remove();
                },
                error: function () {
                    alert("Error while liking post");
                }
            });
        }
    }

</script>
