@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@*@inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager*@

@model IEnumerable<Facebook_project.Models.AppUser>
@{
    var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    var userId = claim.Value;

    <div id="FriendRequestsPopupContainer" class="modal fade LikesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>

                <h2>Friend Requests</h2>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-group">

                                    @foreach (var item in Model)
                                    {
                                        string RequestId = $"request{item.Id}";

                                        <li id="@RequestId" class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="ModalList">
                                                <div class="col-8" style="padding:10px">
                                                    <a href="/Users/UserPage/@item.Id">
                                                        <img src="/ProfilPics/@item.PhotoURL" class="img-fluid searchResult">
                                                    </a>
                                                    <a href="/Users/UserPage/@item.Id">@item.FullName</a>
                                                </div>
                                                <div>
                                                    <input type="button" class="btn btn-primary Accept" value="Accept" onclick="FriendRequest(this,'@item.Id')" />
                                                    <input type="button" class="btn btn-danger Reject" value="Reject" onclick="FriendRequest(this,'@item.Id')" />
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        @Html.ActionLink("Back to List", "Index", "Home")
                    </div>

                </div>

                <div class="modal-footer"></div>


            </div>
        </div>
    </div>



}

<script>

    function FriendRequest(caller, ReqUserId) {

        var RID = '#request' + ReqUserId;
        var RequestElement = document.querySelector(RID);
        if (caller.classList.contains("Accept")) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AcceptRequest","Friends")/' + ReqUserId,
                success: function () {
                    RequestElement.remove();
                },
                error: function () {
                    alert("Error while Accepting Request");
                }
            });
        }
        else if (caller.classList.contains("Reject")) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("RejectRequest","Friends")/' + ReqUserId,
                success: function () {
                    RequestElement.remove();
                },
                error: function () {
                    alert("Error while Rejecting Request");
                }
            });
        }
    }

</script>
