@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@model Facebook_project.Models.AppUser
@{
    Layout = "_HomeLayout";
    //var claimsIdentity = (ClaimsIdentity)this.User.Identity;
    //var claim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);
    //var userId = claim.Value;
    var CurrentUser = ViewBag.CurrentUser as AppUser;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UserInfo</title>
</head>
<body>
    <div id="EditUserDataDiv"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 text-center" style="z-index:-1">

                @if (Model.Id == CurrentUser.Id)
                {
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/ProfilPics/@Model.PhotoURL" id="profilePicture" onclick="EditUserImageModal()" />
                }
                else
                {
                    <img class="img-fluid rounded-circle img-thumbnail" src="~/ProfilPics/@Model.PhotoURL" id="profilePicture" />
                }
                <hr />

                @*<i class="fas fa-edit ml-2" asp-controller="Users" asp-action="EditUserImageModal" onclick="EditUserImageModal()"></i>*@

                <h2 id="fullname">@Model.FullName</h2>
                <p id="bio">@Model.Bio</p>
                <p id="birthdate">@Model.BirthDate.ToString("MM/dd/yyyy")</p>
                <p id="gender">@Model.Gender</p>
                <input type="hidden" asp-for="@Model.Id" id="UserId" />

                @if (Model.Id == CurrentUser.Id)
                {
                    <div id="EditSection">
                        <i class="fas fa-edit ml-2 fa-lg" onclick="EditUserDataModal()"></i>
                    </div>
                }
                else
                {
            <div id="StatusSection">
                @{
                    var IAmReceiver = CurrentUser.Friends.FirstOrDefault(f => f.senderUserID == Model.Id);
                    var IAmSender = Model.Friends.FirstOrDefault(f => f.senderUserID == CurrentUser.Id);

                    if (IAmSender == null && IAmReceiver == null)
                    {
                        <i class="fas fa-user-plus fa-lg" onclick="ChangeRelationStatus(0)"></i>
                        @*<i class="fas fa-user-friends" onclick="ChangeRelationStatus(0)"></i>*@
                    }
                    else
                    {
                        if (IAmSender != null)
                        {
                            if (IAmSender.Status == Status.FriendRemoved ||
                            IAmSender.Status == Status.RequestCanceled ||
                            IAmSender.Status == Status.RequestRejected)
                            {
                                <i class="fas fa-user-friends fa-lg" onclick="ChangeRelationStatus(0)"></i>
                            }
                            else if (IAmSender.Status == Status.RequestConfirmed)
                            {
                                <i class="fas fa-user-check fa-lg" onclick="ChangeRelationStatus(3)"></i>
                            }
                            else if (IAmSender.Status == Status.RequestPending)
                            {
                                <i class="fas fa-user-clock fa-lg" onclick="ChangeRelationStatus(4)"></i>
                            }
                        }
                        else if (IAmReceiver != null)
                        {

                            if (IAmReceiver.Status == Status.FriendRemoved ||
                            IAmReceiver.Status == Status.RequestCanceled ||
                            IAmReceiver.Status == Status.RequestRejected)
                            {
                                <i class="fas fa-user-friends fa-lg" onclick="ChangeRelationStatus(0)"></i>
                            }
                            else if (IAmReceiver.Status == Status.RequestPending)
                            {
                                <i class="fas fa-people-arrows fa-lg" onclick="ChangeRelationStatus(2)" style="margin-right:4px"></i>
                                
                                <i class="fas fa-user-times fa-lg" onclick="ChangeRelationStatus(5)"></i>
                            }
                            else if (IAmReceiver.Status == Status.RequestConfirmed)
                            {
                                <i class="fas fa-user-check fa-lg" onclick="ChangeRelationStatus(3)"></i>
                            }
                        }
                    }
                }
            </div>


                }



            </div>
            <div class="col-12 col-md-8">
                @await Html.PartialAsync("~/Views/Posts/_PostsList.cshtml", Model.Posts)
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#CreatePost").click(function () {
                $("#PopupContainer").modal("toggle");
            });
        });

		function EditUserDataModal() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("EditUserDataModal","Users")',
            success: function (response) {
                $("#EditUserDataDiv").html(response);
                $("#EditUserDataPopupContainer").modal("toggle");
            },
            error: function () {
                alert("Error retreiving Users");
            }
        });
		}

        function EditUserData() {

	    var Editfullname = document.querySelector('#Editfullname').value;
        var Editbio = document.querySelector('#Editbio').value;
        var Editbirthdate = document.querySelector('#Editbirthdate').value;
		var Editgender = document.querySelector('#Editgender').value;

			var data = new FormData();
			data.append("fullname", Editfullname);
			data.append("bio", Editbio);
			data.append("birthdate", Editbirthdate);
			data.append("gender", Editgender);

        $.ajax({
            type: "POST",
            url: '@Url.Action("EditUserData","Users")',
            data: data,
            processData: false,
            contentType: false,
			success: function (response) {

                document.querySelector('#fullname').innerText = Object.values(response)[2];
                document.querySelector('#bio').innerText = Object.values(response)[3];

                var date = new Date(Object.values(response)[1]);
                var dateStr = (date.getMonth() + 1)  + "/" + date.getDate() + "/" + date.getFullYear()

                document.querySelector('#birthdate').innerText = dateStr;
                var gender = document.querySelector('#gender');

                if (Object.values(response)[0] == 0) {
                    gender.innerText  = "Female";
                }
                else {
                    gender.innerText  = "Male";
                }
            },
            error: function () {
                alert("Error Editing Post");
            }
        });
		}

        function EditUserImage()
        {
            var data = new FormData();
            var files = $("#postImgSelector").get(0).files;
			 var src = document.querySelector('#EditUserImg').src;
			 var userid = document.querySelector('#UserId').value;
			 alert(userid);
            var isImgSelected = src.includes('jpg') || src.includes('jpeg');
            if (files.length > 0)
            {
            data.append("picName", files[0]);
            }
            if (isImgSelected)
            {
            data.append("removeImg", false);
            }
        else {
            data.append("removeImg", true);
        }

        $.ajax({
            type: "POST",

            url: '@Url.Action("EditUserImage","Users")',

            data: data,
            processData: false,
            contentType: false,
            success: function (response)
			{
				alert(response);
				var respImg = Object.values(response)[0];
                if (respImg == null)
                {
                    respImg = "default.jpg";
                }

                    var ImgTag = (document.querySelector('#profilePicture'));
                    if (respImg == "")
                        ImgTag.src = "default.jpg";
                    else
					ImgTag.src = '/ProfilPics/' + respImg;
				window.location.href = '@Url.Action("UserPage","Users","userid")';

                },


             error: function () {
                alert("Error Editing Profile Image ");
            }
        });


        }

        function EditUserImageModal() {
              $.ajax({
            type: "GET",
            url: '@Url.Action("EditUserImageModal","Users")',
				  success: function (response) {
			    $("#EditUserDataDiv").html(response);
                $("#EditUserImagePopupContainer").modal("toggle");
            },
            error: function () {
                alert("Error retreiving Users");
            }
        });
        }


        function ChangeRelationStatus(status) {

            var userid = document.querySelector('#UserId').value;
            var concat = `${userid}*${status}`; //String.concat(receiverId,"*", status);
            $.ajax({
                type: "GET",
                url: '@Url.Action("ChangeRelationStatus","Users")/' + concat,
                success: function () {
                    if (status == 0) {
                        document.querySelector("#StatusSection").innerHTML =
                            '<i class="fas fa-user-clock" onclick="ChangeRelationStatus(4)"></i>';
                    }
                    else if (status == 3 || status == 4 || status == 5) {
                        document.querySelector("#StatusSection").innerHTML =
                            '<i class="fas fa-user-plus" onclick="ChangeRelationStatus(0)"></i>';
                    }
                    else if (status == 2) {
                        document.querySelector("#StatusSection").innerHTML =
                            '<i class="fas fa-user-check" onclick="ChangeRelationStatus(3)"></i>';
                    }


                },
                error: function () {
                    alert("Error retreiving Users");
                }
            });
        }



        function ResetFile(selector,div,img) {
            document.querySelector('#' + selector).remove();
            document.querySelector('#' + div).innerHTML += '<input type="file" name="file" id="' + selector + '" style="width: 100%;" onchange="readURL(this)" />';
            document.querySelector('#' + img).src = "";

	}

        function readURL(input, selector)
        {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(selector).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        }

    </script>
</body>
</html>
