@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model IEnumerable<Facebook_project.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    @*<partial name="~/Views/Posts/_Create.cshtml"/>*@
    @foreach (var item in Model)
    {
        <div class="border mt-5">
            <div class="row">
                <div class="col-3">
                    <p class="col-form-label text-center">
                        <img src="#" class="navbar-toggler-icon" />
                        <a href="#">@item.Publisher.FullName</a>
                    </p>
                </div>
                <div class="col-6">
                    <p class="col-form-label">
                        @item.Text
                    </p>
                </div>

                <div class="col-3">
                    <p class="col-form-label text-center">
                        @item.Date
                    </p>
                </div>
            </div>

        @foreach (var comment in item.Comment)
        {
            <div class="border mt-2">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <p class="col-form-label">
                        <img src="#" class="navbar-toggler-icon"/>
                        <a href="#">@comment.User.FullName</a></p>
                        <p class="col-form-label">@comment.Text</p>
                    </div>
                    <div class="col-4">@comment.Time</div>
                </div>
            </div>
         }

        </div>
    }



    }
