@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model Facebook_project.Models.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["id"] = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (SignInManager.IsSignedIn(User))
{

    <p>
        @*<button id="CreatePost" type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#openModal">
                Create Post
            </button>*@

        <div class="container">
            <div class="row">


                <input type="text" style="height: 100px" readonly id="CreatePost" class="col-12"
                       data-toggle="modal" data-target="#openModal" value="What's on your mind" />

            </div>
        </div>
    </p>



    <partial name="~/Views/Posts/_Create.cshtml" />

    <partial name="~/Views/Posts/_Likes.cshtml" view-data="ViewData"/>

    @foreach (var item in Model.IncommingPosts)
    {
        <div class="border mt-5">
            <div class="row">
                <div class="col-3">
                    <p class="col-form-label text-center">
                        <img src="#" class="navbar-toggler-icon" />
                        <a href="#">@item.Publisher.FullName</a>
                    </p>
                </div>
                <div class="col-6">
                    <p class="col-form-label">
                        @item.Text
                    </p>
                    @if (Model.LikedPostsIds.Contains(item.PostId))
                    {
                        <i class="btn fa fa-thumbs-down" onclick="Like(this,@item.PostId)"></i>
                    }
                    else
                    {
                        <i class="btn fa fa-thumbs-up" onclick="Like(this,@item.PostId)"></i>

                    }
                    <a class="btn likes" onclick="LikesModal(@item.PostId)">@item.Like.Count(l => l.isLiked)</a>
                </div>

                <div class="col-3">
                    <p class="col-form-label text-center">
                        @item.Date
                    </p>
                </div>
            </div>

            @foreach (var comment in item.Comment)
            {
                <div class="border mt-2">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <p class="col-form-label">
                                <img src="#" class="navbar-toggler-icon" />
                                <a href="#">@comment.User.FullName</a>
                            </p>
                            <p class="col-form-label">@comment.Text</p>
                        </div>
                        <div class="col-4">@comment.Time</div>
                    </div>
                </div>
            }

        </div>
    }



}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#CreatePost").click(function () {
            $("#PopupContainer").modal("toggle");
        });
    });


    function LikesModal(id) {

        $.ajax({
                type: "GET",
                url: "Posts/LikesModal/" + id,
                success: function () {
                    $("#LikesPopupContainer").modal("toggle");
                },
                error: function () {
                    alert("Error");
                }
            });

        
    };


    function Like(caller, id) {

        if (caller.classList.contains("fa-thumbs-up")) {


            $.ajax({
                type: "POST",
                url: "Posts/Like/" + id,
                success: function () {
                    caller.classList.remove("fa-thumbs-up");
                    caller.classList.add("fa-thumbs-down");
                },
                error: function () {
                    alert("Error while liking post");
                }
            });

        }
        else if (caller.classList.contains("fa-thumbs-down")) {


            $.ajax({
                type: "POST",
                url: "Posts/Dislike/" + id,
                success: function () {
                    caller.classList.remove("fa-thumbs-down");
                    caller.classList.add("fa-thumbs-up");
                },
                error: function () {
                    alert("Error while Disliking post");
                }
            });


        }



    }



</script> 