@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model Facebook_project.Models.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Home Page";
    ViewData["id"] = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (SignInManager.IsSignedIn(User))
{

    <p>
        @*<button id="CreatePost" type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#openModal">
                Create Post
            </button>*@

        <div class="container">
            <div class="row">


                <input type="text" style="height: 100px" readonly id="CreatePost" class="col-12"
                       data-toggle="modal" data-target="#openModal" value="What's on your mind" />

            </div>
        </div>
    </p>



    <partial name="~/Views/Posts/_Create.cshtml" />

    @*<partial name="~/Views/Posts/_Likes.cshtml" view-data="ViewData"/>*@

    <div id="LikesDiv"></div>

    @foreach (var item in Model.IncommingPosts)
    {
        string PostID = $"post{item.PostId}";

<div id="@PostID" class="border mt-5">
    <div class="row">
        <div class="col-3">
            <p class="col-form-label text-center">
                <img src="~/ProfilPics/@item.Publisher.PhotoURL" class="navbar-toggler-icon" />
                <a href="#">@item.Publisher.FullName</a>
            </p>
        </div>
        <div class="col-6">
            <p class="col-form-label">
                @item.Text
            </p>

            <p>Comment</p>

            @{string CommentAreaID = $"commentArea{item.PostId}";}
            <input type="text" id="@CommentAreaID" />
            <input type="button" value="Submit" onclick="addComment(@item.PostId)" />
            <br />

            @if (Model.LikedPostsIds.Contains(item.PostId))
            {
                <i class="btn fa fa-thumbs-down" onclick="Like(this,@item.PostId)"></i>
            }
            else
            {
                <i class="btn fa fa-thumbs-up" onclick="Like(this,@item.PostId)"></i>
            }
            @{string likesId = $"likes{item.PostId}";}
            <a id="@likesId" class="btn likes" onclick="LikesModal(@item.PostId)">@item.Like.Count(l => l.isLiked)</a>

        </div>

        <div class="col-3">
            <p class="col-form-label text-center">
                @item.Date
            </p>
        </div>
    </div>

    @foreach (var comment in item.Comment)
    {
        string CommentID = $"comment{item.PostId}{item.PublisherId}{item.Date}";
        <div id="" class="border mt-2">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <p class="col-form-label">
                        <img src="~/ProfilPics/@item.Publisher.PhotoURL" class="navbar-toggler-icon" />
                        <a href="#">@comment.User.FullName</a>
                    </p>
                    <p class="col-form-label">@comment.Text</p>
                </div>
                <div class="col-4">@comment.Time</div>
            </div>
        </div>
    }

</div>
    }



}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    function addComment(postId) {
        var id = '#commentArea' + postId;
        var comment = document.querySelector(id).value;

        commentObj = {
            "Comment": comment,
            "PostId": postId
        };

        $.ajax({
            type: "POST",
            url: "Posts/AddComment/",
            data: JSON.stringify(commentObj),
            dataType: "json",
            contentType: "application/json; charset=utf-8",

            success: function (response) {

                var respPostId = Object.values(response)[0];
                var respUserId = Object.values(response)[1];
                var respUserName = Object.values(response)[2];
                var respDate = Object.values(response)[3];
                var respText = Object.values(response)[4];
                var respPhotoURL = Object.values(response)[5];


                var newComment = '<div id="comment' + respPostId + respUserId + respDate + '" class="border mt-2"> <div class="row">';
                newComment += '<div class="col-4"></div> <div class="col-4"><p class="col-form-label">';
                newComment += '<img src="/ProfilPics/' + respPhotoURL + '" class="navbar-toggler-icon">';
                newComment += '<a href="#">' + respUserName + '</a>';
                newComment += '</p><p class="col-form-label">' + respText + '</p>';
                newComment += '</div><div class="col-4">' + respDate + '</div></div></div>'

                var targetPostId = "#post" + postId;
                var targetPost = document.querySelector(targetPostId);
                targetPost.innerHTML += newComment;

            },
            error: function (response) {
                alert("Error submiting comment");
            }
        });

        document.querySelector(id).value = "";
    }

    $(document).ready(function () {
        $("#CreatePost").click(function () {
            $("#PopupContainer").modal("toggle");
        });
    });


    function LikesModal(id) {

        $.ajax({
            type: "GET",
            url: "Posts/LikesModal/" + id,
            success: function (response) {
                $("#LikesDiv").html(response);
                $("#LikesPopupContainer").modal("toggle");
            },
            error: function () {
                alert("Error retreiving Users");
            }
        });
    };


    function Like(caller, id) {

        var counterid = '#likes' + id;
        var likeCounter = document.querySelector(counterid);
        var countVal = likeCounter.innerHTML;

        if (caller.classList.contains("fa-thumbs-up")) {


            $.ajax({
                type: "POST",
                url: "Posts/Like/" + id,
                success: function () {
                    countVal++;
                    likeCounter.innerHTML = countVal;
                    caller.classList.remove("fa-thumbs-up");
                    caller.classList.add("fa-thumbs-down");
                },
                error: function () {
                    alert("Error while liking post");
                }
            });

        }
        else if (caller.classList.contains("fa-thumbs-down")) {


            $.ajax({
                type: "POST",
                url: "Posts/Dislike/" + id,
                success: function () {
                    countVal--;
                    likeCounter.innerHTML = countVal;
                    caller.classList.remove("fa-thumbs-down");
                    caller.classList.add("fa-thumbs-up");
                },
                error: function () {
                    alert("Error while Disliking post");
                }
            });


        }



    }



</script>
