@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model Facebook_project.Models.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (SignInManager.IsSignedIn(User))
{

    <p>
        @*<button id="CreatePost" type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#openModal">
                Create Post
            </button>*@

        <div class="container">
            <div class="row">


                <input type="text" style="height: 100px" readonly id="CreatePost" class="col-12"
                       data-toggle="modal" data-target="#openModal" value="What's on your mind" />

            </div>
        </div>
    </p>



    <partial name="~/Views/Posts/_Create.cshtml"/>

    @foreach (var item in Model.IncommingPosts)
    {
        <div class="border mt-5">
            <div class="row">
                <div class="col-3">
                    <p class="col-form-label text-center">
                        <img src="#" class="navbar-toggler-icon" />
                        <a href="#">@item.Publisher.FullName</a>
                    </p>
                </div>
                <div class="col-6">
                    <p class="col-form-label">
                        @item.Text
                    </p>
                    @if (Model.LikedPostsIds.Contains(item.PostId))
                    {
                        <a class="btn btn-danger text-white" asp-controller="Posts" asp-action="Dislike" asp-route-Id="@item.PostId">
                            Dislike
                            @*<i class="fas fa-edit"></i>*@
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-primary text-white" asp-controller="Posts" asp-action="Like" asp-route-Id="@item.PostId">
                            Like
                            @*<i class="fas fa-edit"></i>*@
                        </a>
                    }
                </div>

                <div class="col-3">
                    <p class="col-form-label text-center">
                        @item.Date
                    </p>
                </div>
            </div>

            @foreach (var comment in item.Comment)
            {
                <div class="border mt-2">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <p class="col-form-label">
                                <img src="#" class="navbar-toggler-icon" />
                                <a href="#">@comment.User.FullName</a>
                            </p>
                            <p class="col-form-label">@comment.Text</p>
                        </div>
                        <div class="col-4">@comment.Time</div>
                    </div>
                </div>
            }

        </div>
    }



}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#CreatePost").click(function () {
            $("#PopupContainer").modal("toggle");
        });
    })

</script> 