@model IEnumerable<AppUser>
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "All Users";
    Layout = "_AdminLayout";

}

<style>
    #id {
        width: 8%;
        display: inline;
    }
</style>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div>


    <form method="post">
        
        
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Search</label>
            <div class="col-sm-10">
                <input type="text" id="searchi" onchange="srch()" oninput="this.onchange()" />

            </div>
          </div>
            <div id="search">

            </div>
</form>

    <a asp-controller="Admin" asp-action="AddUser" class="btn btn-primary" style="width: auto ">Add new User</a>

</div>
<h1>All Users</h1>

@if (Model.Any())
{

    <form method="post">
        @foreach (var user in Model)
        {
            <div class="card">
                @*<div class="card-header">
                        User ID :@user.Id
                    </div>*@
                <div class="card-body">
                    <h5 class="card-title">
                       @user.UserName
                        <p id ="userID" style="display:none"> @user.Id </p>
                    </h5>
                </div>
                <div class="card-footer">



                    @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewBag.roles, null, new { @class = "btn btn-info" })
                         
                    @*<a asp-action="EditUser" asp-controller="admin" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>*@
                    @if (user.isBlocked == true)
                    {
                        <a asp-action="UnblockUser" asp-route-id="@user.Id" class="btn btn-danger">Un Block</a>
                    }
                    else
                    {
                        <a asp-action="blockUser" asp-route-id="@user.Id" onclick="return confirm('Are You Sure you want to block user : @user.UserName')" class="btn btn-danger">Block</a>

                    }
                </div>
            </div>
        }
    </form>
}
else
{
    <div class="card">
        <div class="card-header">
            No Users Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use Button below to create a user</h5>
            <a href="/Account/register" class="btn btn-primary" style="width:auto">Add new User</a>
        </div>
    </div>
}


@*<script>

    $(document).ready(function () {
        $("#id").change(function () {
            console.log("hi");
            var role = $('#id').val();
            debugger;
        })
    });



    $('#id').on("change", function () {
        var role = $('#id').val();
        debugger;
        changeRole(userID,role)
    }
            


    function changeRole(userID,role) {
         $.ajax({
             type: "GET",
             url: '@Url.Action("EditUser","Admin")/' + userID,
        success: function (response) {

        },
        error: function () {
                alert("Error");
            }
        });


    }

   




</script>*@


